.card-container
  background: red
  height: 450px
  margin-bottom: 100px

  .background-image
    height: 50%
    width: 100%
    background-repeat: no-repeat
    background-position: center
    background-position: center
    background-size: cover
