---
import MainLayout from "../../layout/base-layout.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils.ts";
import { getCollection } from "astro:content";

const storiesCollection = await getCollection("stories");
const currentLang = getLangFromUrl(new URL(Astro.url.href)) || "en";

console.log(currentLang, "current lang");

const norwegianStories = storiesCollection.filter(
  (item: { data: { lang: string } }) => item.data.lang === "no"
);

const cleanUpSlug = norwegianStories.map((item) => {
  // Remove the "no/" part from the slug
  const cleanSlug = item.slug.split("/").slice(1).join("/"); // Split by '/' and remove the first part
  return cleanSlug;
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<MainLayout title="God Natta Historier">
  <h1>blogggsgsgs</h1>
</MainLayout>
