---
import MainLayout from "../../layout/base-layout.astro";
import { getCollection } from "astro:content";
import StoryBox from "../../components/story-box.astro";
import IntroTraditionalStories from "../../components/introTraditionalStories.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils.ts";

const traditionalStoriesCollection = await getCollection("traditionalStories");
const englishTraditionalStories = traditionalStoriesCollection.filter(
  (item: { data: { lang: string } }) => item.data.lang === "en"
);
const currentLang = getLangFromUrl(new URL(Astro.url.href)) || "en";
---

<MainLayout>
  <main class="content-grid">
    <IntroTraditionalStories />
    <div>
      {
        englishTraditionalStories.map((item: any, index: number) => {
          const cleanSlug = item.slug.split("/").slice(1).join("/"); // Split by '/' and remove the first part
          const slugPath = `/en/traditionalStories/${cleanSlug}/`;

          return (
            <a class="item" href="">
              <StoryBox
                title={item.data.title || "Default Title"}
                imageUrl={item.data.mainImage || "default-image-path.png"}
                index={index}
              />
            </a>
          );
        })
      }
    </div>
  </main>
</MainLayout>
