---
import "../styles/components/introTraditionalStories.sass";
---

<section>
  <p>her eus siome text to tell</p>
  <h1>TRADITIONAL STORIES</h1>
  <p>some wraning wirds about harschness but also cuktural inheritage</p>
</section>
