---
import "../../styles/pages/blog-front-page.sass";
import MainLayout from "../../../layout/base-layout.astro";
import BlogCard from "../../../components/blogCard.astro";
import StoryCard from "../../../components/story-box.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils.ts";

const storiesCollection = await getCollection("traditionalStories");
const currentLang = getLangFromUrl(new URL(Astro.url.href)) || "en";

console.log(currentLang, "current lang");

// Map languages to their corresponding path segments
const langToPathMap = {
  de: "geschichten",
  en: "stories",
  no: "eventyr"
};
const pathSegment = langToPathMap[currentLang] || "stories";
const norwegianTraditionellStories = storiesCollection.filter(
  (item: { data: { lang: string } }) => item.data.lang === "no"
);

const cleanUpSlug = norwegianTraditionellStories.map((item) => {
  // Remove the "no/" part from the slug
  const cleanSlug = item.slug.split("/").slice(1).join("/"); // Split by '/' and remove the first part
  return cleanSlug;
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<MainLayout title="God Natta Historier">
  <main class="main-container content-grid">
    <div class="blog-container wide-width">
      {
        norwegianTraditionellStories.map((item: any, index: number) => {
          const cleanSlug = item.slug.split("/").slice(1).join("/"); // Split by '/' and remove the first part
          const slugPath = `/no/tradisjonelle-eventyr/${cleanSlug}/`;

          return (
            <a class="item" href={slugPath}>
              <StoryCard
                title={item.data.title || "Default Title"}
                imageUrl={item.data.mainImage || "default-image-path.png"}
                index={index}
              />
            </a>
          );
        })
      }
    </div>
  </main>
</MainLayout>
